/* Set font family and size */
body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

/* Set background and text colors for high contrast */
body {
    background-color: #f0eae3;
}

/* Set appropriate font sizes for headings */
h1 {
    /* font-size: 48px; */
    /* font-size: 44px; */
    /* font-size: 2.75em; */
    font-size: 2.13em;
    /* color: #ff5e5b; */
    /* color: #ff6f61; */
    /* color: #ff8a65; */
    color: #ff7d4b;
    /* color: #ff6e40; */
    margin-bottom: 24px;
}

header h1 {
    font-size: 2.5em;
    color: #ff5e5b;
    text-shadow: 2px 2px #ffc09f;
    /* color: #ffc200; */
    /* text-shadow: 2px 2px #ffccb3; */
}

h2 {
    /* font-size: 36px; */
    /* font-size: 30px; */
    /* font-size: 2em; */
    font-size: 1.75em;
    color: #ffa600;
    /* color: #B8860b; */
    margin-bottom: 20px;
}

h3 {
    /* font-size: 24px; */
    /* font-size: 20px; */
    font-size: 1.25em;
    color: #5b99ff;
    margin-bottom: 16px;
}

/* Set link colors and underline on hover */
a {
    color: #3f3fbf;
    text-decoration: none;
}

a:hover {
    color: #ff5e5b;
    text-decoration: underline;
}

/* Use spacing to make content more readable */
p {
    margin-bottom: 24px;
}

/* Use lists to break up content into readable chunks */
ul,
ol {
    margin-bottom: 24px;
}

/* Use appropriate contrast and size for blockquotes */
blockquote {
    color: #333;
    background-color: #f8e4d6;
    border-left: 5px solid #ffa600;
    margin: 24px 0;
    padding: 24px;
    font-size: 18px;
    line-height: 1.6;
}

/* Use subtle background colors for code snippets */
code {
    background-color: #f2f2f2;
    padding: 2px 5px;
    border-radius: 3px;
    color: #333;
}

figure {
    max-width: 65%;
    margin: 24px auto;
    text-align: center;
}

/* Set appropriate line-height and margin for images */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 24px auto;
    line-height: 1.6;
    border: 3px solid #ffa600;
}

figcaption {
    font-size: 0.9em;
    margin-top: 8px;
}

/* Style the navigation bar */
nav {
    background-color: #222;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 5px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline-block;
    margin-right: 10px;
}

/* Reduce font size for navigation links on smaller screens */
@media (max-width: 600px) {
    nav a {
        font-size: 16px;
    }
    /* Further reduce the margin on smaller screens */
    nav li {
        margin-right: 5px;
    }
}

nav a {
    color: #fff;    
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    /* font-size: 20px; */
}

nav a:hover {
    color: #ffa600;
    text-decoration: none;
}

nav a.current {
    background-color: #ffa600;
    color: #fff;
    /* border-bottom: none; */
    border-style: solid;
    border-width: 2px;
    border-color: #ffa600;
    padding: 5px 10px;
    border-radius: 5px;
}

nav a.current:hover {
    background-image: none;
}

nav a.non-current {
    background-color: transparent;
    color: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: transparent;
    border-radius: 5px;
}

nav a.non-current:hover {
    color: #ffa600;
    background-image: none;
    /* text-decoration: underline; */
    border-style: solid;
    border-width: 2px;
    border-color: #ffa600;
    border-radius: 5px;
}

/* Style the header */
header {
    text-align: center;
    top: -100;
    /* margin-bottom: 36px; */
}

.page-content {
    margin: auto;
    padding: 0 1.5em;
    max-width: 1000px;
}


/* Post list */
ul#posts {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

/* Individual Post */
ul#posts li {
    background: #fff; /* this could be a light color that matches your theme */
    border-radius: 5px; /* optional, for card-like design */
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1); /* optional, for card-like design */
    padding: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
}

ul#posts li:hover {
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2); /* this will make the card pop a bit */
    cursor: pointer;
}

/* Post title */
ul#posts li h2 {
    margin-bottom: 10px;
}

/* Post excerpt */
ul#posts li p {
    margin-bottom: 0;
}

ul#posts li a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: inherit; /* so the link doesn't change your text colors */
    text-decoration: none; /* removes the underline */
}

.read-more {
    align-self: flex-end;
    display: inline-block;
    margin-top: -5px;
    color: #ff7d4b; /* or any color that fits your design */
    font-weight: bold;
}

ul#posts li a:hover .read-more {
    text-decoration: underline;
}


@media (max-width: 600px) {
    ul#posts li {
        padding: 15px;
    }

    ul#posts li h2 {
        font-size: 1.5em;
    }

    .read-more {
        font-size: 1em;
    }
}

/* Thumbnail Image - assuming you have a .thumbnail class on your images */
ul#posts li .thumbnail {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}


iframe {
    display: block;
    width: 100%;
    height: 500px;
    border: 3px solid #ffa600;
    margin: 24px auto;
    border-radius: 3px;
}


/* Style the post date */

p.post-date {
    font-family: 'Courier New', monospace; /* Use a different font to distinguish from the rest of the text */
    font-size: 0.9em; /* Slightly smaller font size */
    font-weight: bold;
    /* color: #5b99ff; */
    /* color: #ff5e5b; */
    /* color: #ff7d4b; /\* Consistent with other headings *\/ */
    /* color: #7b716b; */
    color: #695c57;
    text-transform: uppercase; /* Make the date uppercase */
    letter-spacing: 1px; /* Increase letter spacing */
}


/* Style the footer */

footer {
    background-color: #f0eae3; /* light background color */
    padding: 20px 20px 45px 20px;
    color: #ff7d4b; /* bright text color consistent with headings */
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 3px solid #ffa600; /* border top with your main color */
}

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 2%;
    }

    footer a {
        display: block;
        margin-bottom: 5px;
    }
}

footer a {
    color: #3f3fbf; /* consistent with other links */
    text-decoration: none;
    font-size: 16px;
    /* margin: 0 10px; /\* space between next and previous post links *\/ */
}

footer a:hover {
    color: #ff5e5b;
    text-decoration: underline;
}

.footer-nav {
    position: relative;
    width: 100%;
}

.footer-nav .prev-post {
    position: absolute;
    left: 0;
}

.footer-nav .next-post {
    position: absolute;
    right: 0;
}

.footer-nav .prev-post::before {
    content: "← "; /* creates a left arrow */
}

.footer-nav .next-post::after {
    content: " →"; /* creates a right arrow */
}
