<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title}}</title>

    <!-- Pure.css -->
    <link rel="stylesheet"
	  href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
	  integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls"
	  crossorigin="anonymous">

    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/first-post-styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="header">
      {% include navigation.html %}
      {% include header.html %}
    </div>
    <div class="pure-g">
      <div class="page-content pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
	{{ content }}
      </div>
    </div>
  </body>
</html>
